# Кэш компиляции и сборки .NET
[Bb]in/
[Oo]bj/

# Настройки Visual Studio и файлы пользователя
.vs/
*.user
*.suo
*.sln.docstates

# Внешние библиотеки NuGet (весят много, восстанавливаются сами)
packages/

# Наш локальный файл ошибок
Gem/errors.txt